
*, *::after,  *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: black;
}

body{
    color: white;
    background-color: black;
    font-family: 'Mulish', sans-serif;
    background-image: url();
    transition: 1s;
}

/* sidebar */

.navbar{
    position: fixed;
    top: 100px;
    width: 60px;
    height: 31%;
    transition: ease-in-out 0.3s;
    overflow: hidden;
    z-index: 1;
}

.navbar:hover{
    width: 250px;
}

.navbar ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
}

.navbar ul li{
    position: relative;
    width: 0%;
    list-style: none;
    transition: 0.3s;
}

.navbar ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.navbar ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navbar ul li a .name{
    position: relative;
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.navbar ul li:hover{
    padding-left: 30px;
    font-size: 150%;
    background: rgb(255, 0, 64);
    width: 100%;
}

.navbar ul li a img:hover{
    size: 120%
}

.awesome{
    height: 30px;
    width:  30px;
}


/* Top of page */

.topPage{
    padding: 5px;
    display: flex;
    background-image: url(https://images.pexels.com/photos/333850/pexels-photo-333850.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(0%);
    background-color: black;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.topPage h1 {
    text-align: center;
}

.background{
    background-image: url(https://images.pexels.com/photos/3207527/pexels-photo-3207527.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(0);
}

img{
    height: 230px;
    filter: grayscale(1%);
}

h1{
    position: absolute;
    color: white;
    /* margin: auto; */
    font-size: 50px;
    /* background-color: rgb(226, 19, 19); */
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;
    /* border-radius: 50px; */
}

.header{
    width: 500px;
    height: 190px;
    transition: 1s;
}

/* .header:hover{
    background-color: rgb(240, 35, 35);
    width: 700px;
    border-radius: 10px;
} */


/* Home Page */
.home{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}


.homepage{
    display: flex;
    background-color: rgb(177, 38, 38);
    height: 1000px;
    width: 70%;
}

.paragraph{
    flex-wrap: wrap;
    margin: 20px;
    height: 70px;
}

p{
    flex-wrap: wrap;

}

.displayimg{
    padding: 0;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: rgb(0, 0, 0);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid rgb(255, 0, 0);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.tot{
    height: 50px;
    font-family: sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    background-color: rgb(177, 38, 38);
}

p{
    transition: 0.3s;
    width: 40%;
}

p:hover{
    width: 50%;
    background-color: rgb(231, 18, 18);
}

/* Footer */

.footer-items {
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

.footer-items li {
    justify-content: space-between;
    margin-left: 50px;
    list-style: none;
}

.footer-items li a:hover {
    color: rgb(196, 13, 13);
    text-decoration: underline;
}

.footer-items ul{
    display: flex;
    align-items: center;
    height: 60px;
}

.footer-items a{
    color: white;
    text-decoration: none;
}

.footer-items img {
    width: 150px;
    height: 96px;
    display: flex;
}

.items{
    margin-top: 40px;
}