
*, *::after,  *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: black;
    background-color: black;
    font-family: 'Ma Shan Zheng', cursive;
    font-weight: normal;
}

/* Navbar and top of page */

a{
    color: black;
    text-decoration: none;
}

li :hover{
    color: rgba(255, 0, 0, 0.692);
    text-decoration: underline;
}

li{
    list-style: none;
}

ul{
    display: flex;
    align-items: center;
    height: 60px;
    background-color:  rgb(177, 38, 38);
}

.navbar{
    display: flex;
    justify-content: center;
    font-size: 34px;
    background-color:  rgb(177, 38, 38);
}

.logo {
    width: 25%;
    height: 200px;
    margin: 0;
    padding: 0;
}

.navbuttons{
    padding-left:  131.3px;
    padding-right: 131.3px;
    display: inline;
}

.topPage{
    padding-top: 5px;
    display: flex;
    background-image: url(https://images.pexels.com/photos/1310788/pexels-photo-1310788.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(0%);
    opacity: 90%;
    height: 200px;
}

.background{
    background-image: url(images/depositphotos_21701729-stock-illustration-japanese-theme-illustration.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(0);
}

.sidebar{
    padding-top:200px;
}

.sidebarButton{
    height: 30px;
    width: 30px;
    background-color: white;
}

img{
    height: 230px;
    filter: grayscale(1%);
}

h1{
    color: white;
    margin: auto;
    font-size: 70px;
    background-color: red;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
}

/* Home Page */
.home{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.58'%3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.homepage{
    background-color: rgb(177, 38, 38);
    height: 1000px;
    width: 85%;
    opacity: .9;
}

.paragraph{
    height: 70px;
    width: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.paragraph h2 {
    font-size: 48px;
}